
<div
id="fr_54c67ad0f0a0722b06000170"
class="fr-widget fr-container    fr_footer_1_2

">
<div
id="fr_54c67ad0f0a0722b06000173"
class="fr-widget fr-grid    fr_wf_2_column_grid_2

">
<div
id="fr_54c67ad0f0a0722b06000179"
class="fr-widget fr-container    fr_wf_container_one_2

">
<div
id="fr_54c67ad0f0a0722b060001b4"
class="fr-widget fr-text fr-wf    fr_h2_left_black fr_get_the_app_2

">

<div class="fr-text">
  © Oben Interactive
</div>

</div>


<div
id="fr_54c67ad0f0a0722b060001b2"
class="fr-widget fr-text fr-wf    fr_wf_address_2 fr_paragraph_love

">



<p class="align-left">
    <span  style="letter-spacing: 0.01em; line-height: 1.4em;">
      <i class="fa fa-recycle"></i>  <em>100 % WEB</em> <!-- <br /> <em>éco et pratique, travaillez à distance avec nous</em> -->
    </span>
</p>



</div>


<a
id="fr_54c77eb4f0a0723c42000017"
class="fr-widget fr-text fr-wf    fr_paragraph_left fr_wf_address_3

fr-link            "                href="http://www.oben-interactive.fr"
target="_blank"
>

<div class="fr-text">
  <div>
    <span style="letter-spacing: 0.01em; line-height: 1.4em;">
      www.oben-interactive.fr
    </span>
    <br>
  </div>
</div>

</a>


</div>


<div
id="fr_54c67ad0f0a0722b06000177"
class="fr-widget fr-container    fr_wf_container_two_2

">
<div
id="fr_54c67ad0f0a0722b0600017e"
class="fr-widget fr-grid    fr_wf_soc_icons_2

">



</div>


</div>


</div>


</div>


<div
id="fr_54c6607ff0a0727e2f000124"
class="fr-widget fr-html fr-wf    fr_html

">



</div>


</div>

<div id="footer-assets">
<script>
$(document).ready(function() {
  $('.image-link').magnificPopup({
    type:'image',
    image: {
      verticalFit: true,
    },
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // this class is for CSS animation below
    zoom: {
      enabled: true, // By default it's false, so don't forget to enable it

      duration: 300, // duration of the effect, in milliseconds
      easing: 'ease-in-out', // CSS transition easing function

      // The "opener" function should return the element from which popup will be zoomed in
      // and to which popup will be scaled down
      // By defailt it looks for an image tag:
      opener: function(openerElement) {
        // openerElement is the element on which popup was initialized, in this case its <a> tag
        // you don't need to add "opener" option if this code matches your needs, it's defailt one.
        return openerElement.is('img') ? openerElement : openerElement.find('img');
      }
    }
  });
  $('body').scrollToTop({
    distance: 200,
    speed: 500,
    easing: 'linear',
    animation: 'fade', // fade, slide, none
    animationSpeed: 500,

    mobile: {
        width: 768,
        distance: 100,
        speed: 500,
        easing: 'easeInOutElastic',
        animation: 'slide',
        animationSpeed: 200
    },

    trigger: null, // Set a custom triggering element. Can be an HTML string or jQuery object
    target: null, // Set a custom target element for scrolling to. Can be element or number
    text: 'Projet', // Text for element, can contain HTML

    skin: null,
    throttle: 250,

    namespace: 'scrollToTop'
  });
});
</script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/js-footer-lt-ie9.c415763c.js">
</script>
<![endif]-->

</div>
