      <div class="b-content">

        <div
        id="fr_54c6663ff0a0725afc00007b"
        class="fr-widget fr-navigation fr-navigation-active    fr_navigation_white

        ">
        <div
        id="fr_54c6663ff0a0725afc000080"
        class="fr-widget fr-svg    fr_mobile_toggle_2 fr_mobile_toggle_2

        ">

        <div class="fr-svg-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <g>
              <g>
                <rect x="4" y="11.5" width="56" height="4.8"/>
              </g>
              <g>
                <rect x="4" y="29.5" width="56" height="4.8"/>
              </g>
              <g>
                <rect x="4" y="47.7" width="56" height="4.8"/>
              </g>
            </g>
          </svg>
        </div>

      </div>


      <div
      id="fr_54c6663ff0a0725afc00007e"
      class="fr-widget fr-container    fr_items_2

      fr-having-animation fr-anim-slide-from-top        "    data-fr-animation="slide-from-top"
      >
      <a
      id="fr_54c66640f0a0725afc000089"
      class="fr-widget fr-text fr-wf    fr_navigation_link_2 fr_link_6

      fr-link   active         "                    href="#fr_54c769b9f0a072006900001a"
      >

      <div class="fr-text">
        Projet
      </div>

    </a>


    <a
    id="fr_54c66640f0a0725afc000087"
    class="fr-widget fr-text fr-wf    fr_navigation_link_2 fr_link_5

    fr-link            "                    href="#fr_54c6358cf0a0724665000075"
    >

    <div class="fr-text">
      Devis
    </div>

  </a>


  <a
  id="fr_54c66640f0a0725afc000085"
  class="fr-widget fr-text fr-wf    fr_navigation_link_2 fr_link_4

  fr-link            "                    href="#fr_54c64f78f0a07246650002ac"
  >

  <div class="fr-text">
    Commander
  </div>

</a>


</div>


</div>


<div
id="fr_54c62ee6f0a0724757000019"
class="fr-widget fr-container    fr_header_2

">
<div
id="fr_54c62ee6f0a0724757000020"
class="fr-widget fr-text fr-wf    fr_hd2_main_title fr_h1_main_center_white

">

<div class="fr-text">
  Technic NDT - Projet Web
</div>

</div>


<div
id="fr_54c62ee6f0a072475700001c"
class="fr-widget fr-grid    fr_hd2_2_columns

">
<div
id="fr_54c62ee6f0a0724757000026"
class="fr-widget fr-text fr-wf    fr_yh_button fr_hd2_button_try

">

<div class="fr-text">
  Devis
</div>

</div>


<div
id="fr_54c62ee6f0a0724757000024"
class="fr-widget fr-text fr-wf    fr_yh_button fr_hd2_button_buy

">

<div class="fr-text">
  Commander
</div>

</div>


</div>


</div>


<div
id="fr_54c633d8f0a07247570000ba"
class="fr-widget fr-video fr-wf    fr_vimeo_video fr_vimeo_video

">
<div class="fr-text">
  <iframe src="//fast.wistia.net/embed/iframe/{{ site.wistia.project_id }}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="960" height="568"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
  </div>

</div>
