<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang=en>
  {% include head.html %}
  <body>
    {% include header.html %}
    {{ content }}
    <div id=fr_54c632d7f0a0724757000082 class="fr-widget fr-container fr_header_5">
    </div>
    <div id=fr_54c656b4f0a0727e2f000043 class="fr-widget fr-container fr_gallery_3">
      <div id=fr_54c656b4f0a0727e2f000048 class="fr-widget fr-text fr-wf fr_h4_black fr_gry3_main_title">
        <div class=fr-text>
          {{ site.title }}
        </div>
      </div>
      <div id=fr_54c656b4f0a0727e2f000046 class="fr-widget fr-grid fr_gry3_3_column_images">
        <div id=fr_54c656b4f0a0727e2f000051 class="fr-widget fr-container fr_gry3_image_one">
          <div id=fr_54c656b4f0a0727e2f000078 class="fr-widget fr-img fr_gry3_img_one fr-widget-hover-scale-up">
            <a class="image-link" href="images/{{ site.screenshot.img_01 }}">
              <img src="images/{{ site.screenshot.img_01 }}" />
            </a>
          </div>
          <div id=fr_54c656b4f0a0727e2f000076 class="fr-widget fr-text fr-wf fr_caption_left_grey fr_gry3_image_title_one">
            <div class=fr-text>
              {{ site.title }} / {{ site.screenshot.text_01 }}
            </div>
          </div>
        </div>

        <div id=fr_54c656b4f0a0727e2f00004f class="fr-widget fr-container fr_gry3_image_two">
          <div id=fr_54c656b4f0a0727e2f000069 class="fr-widget fr-img fr_gry3_img_two fr-widget-hover-scale-up">
            <a class="image-link" href="images/{{ site.screenshot.img_02 }}">
              <img src="images/{{ site.screenshot.img_02 }}" />
            </a>
          </div>
          <div id=fr_54c656b4f0a0727e2f000067 class="fr-widget fr-text fr-wf fr_caption_left_grey fr_gry3_image_title_two">
            <div class=fr-text>
              {{ site.title }} / {{ site.screenshot.text_02 }}
              <br />
            </div>
          </div>
        </div>

        <div id=fr_54c656b4f0a0727e2f00004d class="fr-widget fr-container fr_gry3_image_three">
          <div id=fr_54c656b4f0a0727e2f000059 class="fr-widget fr-img fr_gry3_img_three fr-widget-hover-scale-up">
            <a class="image-link" href="images/{{ site.screenshot.img_03 }}">
              <img src="images/{{ site.screenshot.img_03 }}" />
            </a>
          </div>
          <div id=fr_54c656b4f0a0727e2f000057 class="fr-widget fr-text fr-wf fr_caption_left_grey fr_gry3_image_title_three">
            <div class=fr-text>
              {{ site.title }} / {{ site.screenshot.text_03 }}
            </div>
          </div>
        </div>
      </div>
      <script>
        (function(){
          $(".fr-copyright-footer").hide()}
        ).call(document.getElementsByClassName("fr_gallery_3")[0]);
      </script>
    </div>
    {% if site.display.work_with_oben == "yes" %}
    <div id=fr_54c769b9f0a0720069000017 class="fr-widget fr-container fr_header_4">
      <a id="projet" class="fr-widget fr-container fr_hd4_container fr-widget-hover-scale-up fr-link" href="#commander">

        <div id=fr_54c769b9f0a0720069000023 class="fr-widget fr-text fr-wf fr_h1_right_black fr_hd4_main_title">
          <div class=fr-text>
            Comment réaliser mon projet ?
          </div>
        </div>

        <div id=fr_54c769b9f0a0720069000021 class="fr-widget fr-text fr-wf fr_paragraph_right_black fr_hd4_subtext">
          <div class=fr-text>
            J'apprécie votre&nbsp;
            <span style=letter-spacing:.01em;line-height:1.4em>
              travail et j'aimerais utiliser vos services.
            </span>
          </div>
        </div>
        <div id=fr_54c769b9f0a072006900001f class="fr-widget fr-grid fr_hd4_buttons">
          <div id=fr_54c769b9f0a072006900002a class="fr-widget fr-text fr-wf fr_submit_button fr_hd4_tell_more">
            <div class=fr-text>
              Travailler avec Oben Interactive
            </div>
          </div>
        </div>
      </a>
    </div>
    {% else %}
    <!-- Block Working with Oben Go Here ! -->
    {% endif %}
    <div id="devis" class="fr-widget fr-container fr_content_4">
      <div id=fr_54c6358cf0a072466500007c class="fr-widget fr-text fr-wf  fr_h1_main_center_white-1">

          {{ site.title }}

      </div>
      <div id=fr_54c6358cf0a072466500007a class="fr-widget fr-text fr-wf fr_h2_center_white fr_hd2_main_title_3">
        <div class="fr-text">
          {{ site.estimation.title }}
        </div>
      </div>
      <div id=fr_54c6358cf0a0724665000078 class="fr-widget fr-grid fr_cnt04_3_column_grid">
        <div id=fr_54c6358cf0a0724665000084 class="fr-widget fr-container fr_bf_feature_one">
          <div id=fr_54c63984f0a0724665000131 class="fr-widget fr-text fr-wf fr_bf_sub_text_one_5 fr_h2_reverse">
            <div class="fr-text">
              Création Site Internet
            </div>
          </div>
          <a id=fr_54c6358cf0a07246650000b9 class="fr-widget fr-text fr-wf fr_yh_button fr_bf_sub_text_one fr-widget-hover-scale-up fr-link" href="#commander">
            <div class="fr-text">
              496 €<span class="small"> /  unité</span>
            </div>
          </a>
          <div id=fr_54c6358cf0a07246650000b7 class="fr-widget fr-text fr-wf fr_paragraph_left_white fr_bf_paragraph_one">
            <div class="fr-text">
              - Création Web Design *
              <br />
              <br />
              - Développement et Intégration Web **
              <br />
              <br />
              -   Responsive Tablette &amp; Mobile
              <br />
              <br />
              - Optimisation et Intégration Contenus
              <br />
              <br />
              - Référencement initial Google SEO
              <br />
              <br />
              * <span class="small-2">Site Internet Entreprise, 5 pages maximum</span>
              <br />

              <br />
              ** <span class="small-2">Mise en ligne, 20 jours ouvrables</span>
            </div>
          </div>
        </div>
        <div id=fr_54c6358cf0a0724665000082 class="fr-widget fr-container fr_bf_feature_two">
          <div id=fr_54c63afff0a072466500017d class="fr-widget fr-text fr-wf fr_bf_sub_text_one_5 fr_h2_reverse">
            <div class="fr-text">
              Gestion Site Internet
            </div>
          </div>
          <a id=fr_54c63afff0a072466500017f class="fr-widget fr-text fr-wf fr_yh_button fr_bf_sub_text_one_6 fr-widget-hover-scale-up fr-link" href="#commander">
            <div class="fr-text">
              190 € <span class="small">/ an</span>
            </div>
          </a>
          <div id=fr_54c63afff0a0724665000181 class="fr-widget fr-text fr-wf fr_paragraph_left_white fr_bf_paragraph_one_3">
            <div class="fr-text">

              - Gestion Site Internet, Versionning, Back-up
              <br />
              <br />
              - Hébergement et Gestion Serveur Web
            <br />
              <br />
              - Gestion DNS, A, CNAME, MX, NS *
              <br />
              <br />
              - Statistiques Google Analytics inclus
              <br />
              <br />
              * <span class="small-2">Coût et gestion nom de domaine, 19 € par an<span>
              <br />
              <div>

              </div>
            </div>
          </div>
        </div>
        <div id=fr_54c6358cf0a0724665000080 class="fr-widget fr-container fr_bf_feature_three">
          <div id=fr_54c63acef0a0724665000162 class="fr-widget fr-text fr-wf fr_bf_sub_text_one_3 fr_h2_reverse">
            <div class="fr-text">
              Options
            </div>
          </div>
          <a id=fr_54c63acef0a0724665000164 class="fr-widget fr-text fr-wf fr_yh_button fr_bf_sub_text_one_4 fr-widget-hover-scale-up fr-link" href="#commander">
            <div class="fr-text">
              Sur devis
            </div>
          </a>
          <div id=fr_54c63acef0a0724665000166 class="fr-widget fr-text fr-wf fr_paragraph_left_white fr_bf_paragraph_one_2">
            <div class="fr-text">
                - Rédaction Contenus Site Internet
                <br />
                <br />
                - CMS, Gestion de Contenus
                <br />
                <br />
                - Iconographie et Banque d'images
                <br />
                <br />
                - Campagne Mots-Clés Google Ads
                <br />
                <br />
                - Page Facebook, Twitter  Entreprise
                <br />
                <br />
                - Facebook Marketing, Coupons, Contest
                <br />
                <br />
                - Campagne Publicitaire Facebook Ads
            </div>

        </div>
      </div>
    </div>
  </div>
    {% if site.display.promo_year_plan == "yes" %}
    <div id=fr_54c673caf0a0722b060000af class="fr-widget fr-container fr_header_2_2 fr-background-parallax" data-fr-background-parallax-speed=-50>
      <div id=fr_54c673caf0a0722b060000b6 class="fr-widget fr-text fr-wf fr_hd2_main_title_2 fr_h1_main_center_white-1">
        <div class="fr-text">
          - 15% exceptionnel avec un &nbsp; &nbsp;ABONNEMENT ANNUEL &nbsp;! &nbsp;&nbsp;
        </div>
      </div>
      <div id=fr_54c75d17f0a0722ca1000017 class="fr-widget fr-text fr-wf fr_h2_center_white fr_hd2_main_title_3">
        <div class="fr-text">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- 10 % avec un paiement sur 3 mois
        </div>
      </div>
      <a id=fr_54c673caf0a0722b060000b4 class="fr-widget fr-text fr-wf fr_submit_button fr_hd2_paragraph fr-widget-hover-scale-up fr-link" href="#commander">
        <div class="fr-text">
          <h3>
            Sympa, j'aimerais en profiter &nbsp;!
          </h3>
        </div>
      </a>
      <div id=fr_54c673caf0a0722b060000b2 class="fr-widget fr-grid fr_hd2_2_columns_2">
        <div id=fr_54c673caf0a0722b060000ba class="fr-widget fr-text fr-wf fr_yh_button-1 fr_hd2_button_buy_2">
          <div class="fr-text">
            Commander
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- Promo Block Go Here ! -->
    {% endif %}
    <form id="commander" class="fr-widget fr-form fr-wf fr_form" method=POST action="https://oben-interactive.us4.list-manage.com/subscribe/post?u={{ site.mailchimp.list }}">
      <div id=fr_54c64f78f0a07246650002b1 class="fr-widget fr-text fr-wf fr_form_heading fr_form_heading">
        <div class="fr-text">
          <div>
            <span style=letter-spacing:.01em;line-height:1.1em>
              Je souhaite commander un Site Internet
            </span>
            <br />
          </div>
        </div>
      </div>
      <div id=fr_54c64f78f0a07246650002af class="fr-widget fr-grid fr_grid">
        <div id=fr_54c64f78f0a07246650002ba class="fr-widget fr-input fr-wf fr_form_input fr_name_input">
          <input type=text class="fr_form_input fr_name_input" placeholder=Prénom name=FNAME>
        </div>
        <div id=fr_54c79f5bf0a0723c42000052 class="fr-widget fr-input fr-wf fr_form_input fr_name_input_2">
          <input type=text class="fr_form_input fr_name_input_2" placeholder=Nom name=LNAME>
        </div>
        <div id=fr_54c7d943f0a0723c42000064 class="fr-widget fr-input fr-wf fr_form_input fr_name_input_3">
          <input type=text class="fr_form_input fr_name_input_3" placeholder=Société name=FIRM>
        </div>
        <div id=fr_54c64f78f0a07246650002b8 class="fr-widget fr-input fr-wf fr_form_input fr_email_input">
          <input type=email class="fr_form_input fr_email_input" placeholder=Email name=EMAIL>
        </div>
        <a id=fr_54c64f78f0a07246650002b6 class="fr-widget fr-text fr-wf fr_submit_button fr_submit_button fr-widget-hover-scale-up fr-link fr-linktype-submit">
          <div class="fr-text">
            OK
          </div>
        </a>
      </div>
    </form>
    {% include footer.html %}
  </body>
</html>
